In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_predict, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.metrics import mean_absolute_error, mean_squared_error

In [3]:
!git clone https://github.com/anvarnarz/praktikum_datasets.git

Cloning into 'praktikum_datasets'...
remote: Enumerating objects: 145, done.
remote: Counting objects: 100% (52/52), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 145 (delta 46), reused 44 (delta 43), pack-reused 93
Receiving objects: 100% (145/145), 9.72 MiB | 17.90 MiB/s, done.
Resolving deltas: 100% (53/53), done.

In [7]:
df = pd.read_csv("/content/praktikum_datasets/usa_cars.csv", index_col=0)
df.head()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [8]:
df.shape

(2499, 12)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2499 entries, 0 to 2498
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         2499 non-null   int64
 1   brand         2499 non-null   object
 2   model         2499 non-null   object
 3   year          2499 non-null   int64
 4   title_status  2499 non-null   object
 5   mileage       2499 non-null   int64
 6   color         2499 non-null   object
 7   vin           2499 non-null   object
 8   lot           2499 non-null   int64
 9   state         2499 non-null   object
 10  country       2499 non-null   object
 11  condition     2499 non-null   object
dtypes: int64(4), object(8)
memory usage: 253.8+ KB

In [12]:
corr_matrix = df.corr().abs()
corr_matrix.style.background_gradient(cmap='coolwarm')

<ipython-input-12-f0053e680f59>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr().abs()

In [13]:
X = df.drop('price', axis=1)
y = df['price']

In [14]:
X=pd.get_dummies(X)
X

,year,mileage,lot,brand_acura,brand_audi,brand_bmw,brand_buick,brand_cadillac,brand_chevrolet,brand_chrysler,...,condition_5 hours left,condition_53 minutes,condition_6 days left,condition_6 hours left,condition_7 days left,condition_7 hours left,condition_8 days left,condition_9 days left,condition_9 minutes,condition_Listing Expired
0,2008,274117,159348797,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2011,190552,166951262,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2018,39590,167655728,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2014,64146,167753855,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018,6654,167763266,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2019,23609,167722715,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2495,2018,34553,167762225,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2496,2018,31594,167762226,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2497,2018,32557,167762227,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2498,2018,31371,167762228,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [16]:
# Train/test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=12)

#Destigion tree

In [17]:
model_tree = DecisionTreeRegressor()
model_tree.fit(X = X_train, y=y_train)
pred_rf = model_tree.predict(X_test)
mae = mean_absolute_error(y_test, pred_rf)
mse = mean_squared_error(y_test, pred_rf)
print("MAE=", mae)
print("RMSE=", np.sqrt(mse))

MAE= 5022.622
RMSE= 8560.367573533276

#RandomForestRegressor

In [18]:
FR_model = RandomForestRegressor()
FR_model.fit(X_train, y_train)
pred_rf = FR_model.predict(X_test)
mae = mean_absolute_error(y_test, pred_rf)
mse = mean_squared_error(y_test, pred_rf)
print("MAE=", mae)
print("RMSE=", np.sqrt(mse))

MAE= 3687.65752
RMSE= 5990.208592963688